@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Newsreader:ital,wght@0,400;0,500;1,600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.logo{
  font-size: 26px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  margin-left: 50px;
  color:rgb(255, 14, 14);
  margin-top: 10px;
}
/* input.js css */
input{
  width:330px;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
  outline-offset: none;

  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(243, 13, 13);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;

}
:hover.btn{
  color: rgb(243, 13, 13);
}
input ::placeholder{
  font-size: 16px;
}
/* header css App.js */
.header{
  display: flex;
  border: rgb(243, 13, 13);
  width: 100%;
  height: 60px;
  background-color: #fff;
  justify-content: flex-start;
  color: black;
  align-items: center;
  font-weight: 900;
  box-shadow: 0 3px 5px rgba(241, 22, 22, 0.3);
  text-align: center;
  justify-content: space-around;
  /* box-shadow: 2px 3px rgb(233, 64, 64); */

  /* margin: 20px; */
}
/* header css category.js */
.nav{
  width: 900px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;

}
.btn{
 max-width:200px;
 min-width: 100px;
 font-family: 'Roboto Mono', monospace;

 /* width: 90px; */
 color: black;
 height: 30px;
 border: none;
 border-radius: 5px;
 margin-left: 15px;
}
ul{
  margin-top: 10px;
  width: 130px;
  height: 160px;
  border: 1px solid rgb(189, 52, 52);
  overflow: scroll;
}

/* Dropdown.js */
.mainDrp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center; 
  /* margin-left: -10px; */
}
.dropdown{
  display: flex;
  color: black;
  border: none;
  font-family: 'Roboto Mono', monospace;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  margin-top: -7px;
  /* margin-left: -10px; */
}
:hover.dropdown{
  color: tomato;
}

.drpBtn{
  justify-content: space-around;
  border: none;
  color: black;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 400;
  width: 20px;
  cursor: pointer;
}
/* :hover.drpBtn{
  color: lightseagreen;
  transition: 1s;
} */
.cardMain{
  display: flex;
}
.card{
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  width: 97%;
  height: 200px;
  margin-top: 60px;
  background-color: rgb(252, 132, 132,0.2);
  border: none;
  margin-top: 29px !important;
  border-radius: 5px;
  box-shadow: 3px,3px,3px solid grey;

  margin: 10px;
}
.txt{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  width: 70%;
  margin-left: -40px;
  justify-content: center;
  align-items: center;
}
.txt h2{
  margin-top: -20px;
  font-size: 26px;
  width: 78%;

  font-family: 'Newsreader', serif;
  font-weight: 600;
}
.txt p{
  font-size: 14px;
  margin-top: 15px;
  font-family: 'Newsreader', serif;
  font-size: 18px;
  width: 60%;
  flex-wrap: wrap;
}
.txt h6{
  color: rgb(28, 28, 73);
  justify-content: flex-end;
  margin-right: -85%;
  margin-top: 20px;
  font-size: 16px;
}

img{
  height: 200px;
  width: 380px;
  border: none;
  margin-top: -100px;
  margin-left: -70px;
  margin-top: 0;
  border-radius: 5px;
  box-shadow: 2px 3px grey;

}
.container{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 3%;
}



/* Drop down */
.ult1{
  margin-top: 200px;
  background-color: #fff;
  margin-left: -50px;
}
.ult{
  margin-top: 200px;
  background-color: #fff;
  margin-left: -150px;
}
