*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* input.js css */
input{
  width:100%;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(99, 203, 238);
  border-radius: 5px;

}
input ::placeholder{
  font-size: 16px;
}
/* header css App.js */
.header{
  display: flex;
  border: lightblue;
  width: 100%;
  height: 70px;
  background-color: rgb(58, 58, 97);
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  /* margin: 20px; */
}
/* header css category.js */
.nav{
  max-width: 1000px;
}
.btn{
 max-width:200px;
 min-width: 100px;
 width: 90px;
 height: 30px;
 border: none;
 border-radius: 5px;
 margin-left: 15px;
}

/* Dropdown.js */
.mainDrp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center; 
  margin: 30px;
}
.dropdown{
  display: flex;
  width: 150px;
  height: 30px;
  margin: 30px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

.drpBtn{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 200px;
  margin-top: 60px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  box-shadow: 3px,3px,3px solid grey;
  margin: 10px;
}
.txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  height: 200px;
  width: 330px;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
}